@import 'bootstrap/dist/css/bootstrap.min.css';



* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

h1 {
    font-weight: 600;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #393677;
}

main {
    height: 80%;
}

.box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.box1, .box2 {
    padding: 25px 0px;
}

section {
    padding: 30px 0px;
}

.subtitle {
    font-size: 18px;
}

.title-secondary {
    color: #393677;
}

.title-secondary:hover{
    color: #000000;
}

.container-last {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-evenly; 
}

.form-image {
    width: 350px;
    height: auto;
}

footer {
    font-size: 18px;
    color: #ffffff;
    padding: 60px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #393677;
}